@charset "UTF-8";
/*Размер шрифта для заголовков*/
/*Размер шрифта для body*/
/*Цвет шрифта для body*/
/*Цвет шрифта для заголовков*/
/* margin для заголовков */
/* Шрифт для заголовков */
/*Толщина шрифта для заголовков*/
/* Межстрочный интервал */
html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 1.66; }

body {
  font-size: 1.5rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #596663;
  min-width: 320px;
  max-width: 1920px;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  min-width: 1042px; }

h1, h2, h3, h4, h5, h6 {
  font-family: ProxNov300, sans-serif;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none; }

h1, .section__title {
  font-size: 3.6rem;
  margin: 0 0 1em;
  color: #000;
  font-weight: 400;
  line-height: 1; }

h2 {
  font-size: 3.42857rem;
  margin: 0.55417em 0;
  color: #000;
  font-weight: 400;
  line-height: 1; }

h3 {
  font-size: 3.2rem;
  margin: 0.59375em 0;
  color: #000;
  font-weight: 400;
  line-height: 1; }

h4 {
  font-size: 3rem;
  margin: 0.63333em 0;
  color: #000;
  font-weight: 400;
  line-height: 1; }

h5 {
  font-size: 2.8125rem;
  margin: 0.67556em 0;
  color: #000;
  font-weight: 400;
  line-height: 1; }

h6 {
  font-size: 2.6087rem;
  margin: 0.72833em 0;
  color: #000;
  font-weight: 400;
  line-height: 1; }

hr {
  height: 2px;
  background: #eaefee;
  max-width: 1200px;
  width: 100%;
  margin: 0  auto;
  border: none; }

p {
  margin: 1.03em 0;
  text-align: justify; }

a, a:visited, a:active {
  color: #009a7d;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-decoration: underline; }

a:hover, a:focus {
  text-decoration: none; }

.table_wrap {
  overflow-x: auto; }

textarea {
  resize: none; }

table {
  border-collapse: collapse;
  width: 100%; }

th {
  padding: 14px 20px;
  text-align: left; }

td {
  padding: 13px 20px;
  text-align: left;
  border-bottom: 1px solid #cbd2d1; }

table tr:first-child {
  background: #f1f6f5;
  color: #1c1c1c;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.75px;
  border-bottom: 2px solid #87b74a; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #596663;
  font-size: 1.5rem;
  line-height: 1.46;
  letter-spacing: 0.75px; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #596663;
  font-size: 1.5rem;
  line-height: 1.46;
  letter-spacing: 0.75px; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #596663;
  font-size: 1.5rem;
  line-height: 1.46;
  letter-spacing: 0.75px; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #596663;
  font-size: 1.5rem;
  line-height: 1.46;
  letter-spacing: 0.75px; }

button {
  border: none;
  background: none;
  cursor: pointer; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
time {
  display: block; }

.wrapMap {
  border: 1px solid #e3e3e3;
  height: 662px;
  background: red;
  position: relative; }

@media screen and (max-width: 780px) {
  .content img {
    max-width: 100%; } }

img {
  max-width: 100%; }

strong {
  color: #262626; }

/*Контент конец*/
.sectionHeader {
  background: #000;
  margin: 0 0 8px; }

.header {
  position: relative; }

.menuMain {
  border-top: 1px solid #fff; }

.header__block1, .menuMain__items {
  max-width: 1042px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto; }

.header__block1 {
  padding: 73px 0 0;
  box-sizing: border-box;
  min-height: 155px;
  position: relative;
  overflow: hidden; }

.header__block1:before, .header__block1:after {
  content: '';
  background: #404040;
  width: calc(100% + 140px);
  height: 403px;
  position: absolute;
  display: block;
  border: 70px solid  #050505;
  border-bottom: 37px solid  #050505;
  border-top: 37px solid #050505;
  border-radius: 200px;
  box-sizing: border-box;
  left: -70px; }

.header__block1:before {
  top: -340px; }

.header__block1:after {
  top: calc(100% - 50px); }

.btnMap {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 33px;
  line-height: 35px;
  margin: 0 102px 0 118px;
  font-size: 1.5rem;
  float: left; }

.header__Logo {
  position: relative; }

.btnMap:before {
  content: "";
  width: 21px;
  height: 35px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../image/design/ic_addr.png) no-repeat; }

.menuMain__items {
  padding: 0;
  overflow: visible;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  list-style: none;
  min-height: 94px; }

.menuMain__items li {
  padding: 0;
  margin: 0;
  color: #fff;
  margin: 0 11px; }

.menuMain__items a, .menuMain__items a:visited {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem; }

.bannerSingle {
  max-width: 898px;
  width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
  object-fit: cover; }

.bannerDual {
  max-width: 898px;
  width: 100%;
  margin: 13px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap; }

.bannerDual__item {
  max-width: 444px;
  width: 444px;
  -webkit-box-flex: 0;
  flex: none; }

.bannerDual__item img {
  height: 100%; }

.bannerDual__item:first-child {
  margin: 0 10px 0 0; }

.sectionForm {
  max-width: 898px;
  width: 100%;
  margin: 0 auto 14px;
  background: #000;
  padding: 28px 28px  120px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }

.sectionForm:before {
  content: '';
  width: 746px;
  height: 200px;
  background: #fff;
  border-radius: 100px;
  display: block;
  position: absolute;
  bottom: -140px;
  left: calc((100% - 746px) / 2);
  border: 37px solid #050505;
  box-sizing: border-box; }

.sectionForm__title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 3rem;
  text-align: center; }

.sectionForm__subtitles {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  margin: 0 0 32px; }

.sectionForm__subtitles span {
  color: #ffffff;
  font-family: Roboto;
  font-size: 40px; }

.mw__contacts {
  position: absolute;
  top: -1250px;
  left: 0;
  width: 100%;
  height: 664px;
  padding: 0 86px;
  box-sizing: border-box;
  transition: .5s; }

.mw__contacts.active {
  transition: .5s; }

.blockContacts {
  position: absolute;
  top: 20px;
  left: 20px;
  height: calc(100% - 40px);
  max-width: 450px;
  width: 100%;
  background: #fff;
  line-height: 1;
  padding: 35px 55px;
  box-sizing: border-box; }

.blockContacts__city {
  color: #434343;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0 auto 86px;
  border-bottom: 1px solid #888888;
  width: 203px;
  padding: 0 0 12px;
  box-sizing: border-box; }

.blockContacts, .blockContacts a, .blockContacts a:visited {
  color: #434343;
  font-size: 2.5rem;
  text-decoration: none; }

.blockContacts__phone {
  text-decoration: underline; }

.blockContacts__box3 {
  margin: 0 0 58px; }

.blockContacts__box2 {
  margin: 37px  0; }

.blockContacts__box4 {
  margin: 0 0 0 -40px; }

.blockContacts__box4 li {
  margin: 0 0 15px; }

.wrapData {
  margin: 0 188px 14px 0;
  -webkit-box-flex: 0;
  flex: none; }

.label {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0 19px 0 0;
  text-align: center; }

.field {
  width: 472px;
  height: 47px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000;
  font-size: 1.7rem;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid transparent; }

.field.alert{
  border: 2px solid red;
}
.gift {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  justify-content: flex-end; }

.star {
  color: red; }

.clearfix {
  clear: both; }

.wrapBtnSend {
  position: absolute;
  bottom: 44px;
  left: 0;
  width: 100%; }

.btnSend {
  border: none;
  background: #fff;
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 6px;
  width: 94px;
  box-sizing: border-box;
  line-height: 1;
  padding: 0;
  height: 24px;
  margin: 0 auto;
  display: block;
  opacity: 0.5; }

.wrapFooter__logo {
  max-width: 987px;
  width: 100%;
  padding: 10px 37px 0;
  box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.5);
  background: #000;
  border-radius: 100px;
  margin: 0 auto;
  text-align: center;
  height: 200px; }

.footer__block:nth-child(2) {
  height: 39px;
  overflow: hidden;
  padding: 37px 0 0; }

.socNet__title {
  color: #434343;
  font-size: 1.5rem; }

.footer__block:nth-child(1) {
  max-width: 700px;
  width: 100%;
  margin: 0 auto -37px;
  border-radius: 5px 5px 0 0;
  background: #e9e9e9;
  padding: 15px 35px 0;
  box-sizing: border-box; }

.footer__contacts {
  text-align: center;
  width: 100%;
  margin: 25px 0 0; }

.footer__menu__item a, .footer__menu__item a:visited,
.footer__phone, .footer__phone:visited {
  color: #434343;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 1; }

.footer__menu {
  float: left;
  margin: 0 0 0 50px;
  padding: 0;
  list-style: none;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 45px;
  column-gap: 45px;
  -webkit-column-width: 100px;
  column-width: 100px; }

.socNet {
  width: 150px;
  float: left; }

.socNet__title {
  border-bottom: 2px solid #000;
  margin: 0 0 8px; }

.footer__menu__item:nth-child(5) {
  width: 142px; }

.sectionFooter {
  margin: 30px 0 0; }

.textBlock__ttl {
  color: #ffffff;
  font-size: 5.2rem;
  text-align: center; }

.textBlock__cnt {
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff; }

.textBlock {
  max-width: 898px;
  width: 100%;
  background: #000;
  min-height: 492px;
  padding: 80px 30px;
  box-sizing: border-box;
  margin: 13px auto; }

.PrivacyPolicy {
  color: #535353;
  font-size: 1.4rem;
  letter-spacing: -0.28px; }

.privacyPolicy, .privacyPolicy a, .privacyPolicy a:visited {
  color: #fff; }

.checkbox {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap; }

.check {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
  flex: none;
  margin: 3px 10px 0 0;
  overflow: hidden;
  background: #fff; }

.checkbox input {
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -1; }

.checkbox_1 {
  margin: 0; }

.checkbox label {
  display: block; }

.checkbox_1 label {
  width: 16px;
  height: 16px;
  background: none;
  margin: 2px 0 0 2px; }

.checkbox_1 .check_active label {
  background: green; }

.bgMW {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

.bgMW.active {
  display: block; }

.wrapper {
  position: relative; }

.btnClose, .btnClose_pp {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  background: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  outline: none;
  transition: .4s; }
.btnClose_pp{
  font-size: 1.8rem;
}
.btnClose:hover, .btnClose:focus {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75); }

.mw__pp {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 30px;
  max-width: 898px;
  width: 100%;
  box-sizing: border-box;
  display: none;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  height: 100vh;
  overflow: auto; }

.mw__pp.actve {
  display: block; }

.goTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 67px;
  height: 75px;
  text-align: center; }

.goTop img {
  width: 100%; }

@media screen and (max-width: 1650px) {
  .sectionBanner_1 {
    background: url(../image/design/img_48.jpg) no-repeat calc(100% + 150px) top #e1ebe9; } }

@media screen and (max-width: 1331px) {
  .slick__btnPrev {
    left: -60px; }
  .slick__btnNext {
    right: -60px; }
  .turnkeySolution__info__block:nth-child(1) {
    max-width: calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 0 15px 20px; }
  .turnkeySolution__info__block:nth-child(2) {
    max-width: 100%;
    width: 100%; } }

@media screen and (max-width: 1280px) {
  .sectionBanner_1 {
    background: url(../image/design/img_48.jpg) no-repeat calc(100% + 380px) top #e1ebe9; } }

@media screen and (max-width: 1220px) {
  .wrapSetData_support .wrapData:nth-child(1) {
    max-width: 310px;
    width: 310px; } }

@media screen and (max-width: 1170px) {
  .gallery_3__sepr:nth-of-type(4) {
    display: none; }
  .gallery_3__item {
    min-width: 50%;
    width: 50%; }
  .gallery_3__item:nth-of-type(5) {
    min-width: 100%;
    width: 100%; }
  .work__content {
    padding: 0 10px 20px; }
  .gallery_5__item {
    max-width: 33%;
    width: 33%; }
  .footer__block:nth-child(3) {
    max-width: 400px;
    width: 400px; }
  .footer__block:nth-child(2) {
    max-width: calc(100% - 737px);
    width: calc(100% - 737px); }
  .header__block:nth-child(1) {
    padding: 22px 30px; } }

@media screen and (max-width: 1137px) {
  .gallery_1__sepr:nth-of-type(6) {
    display: none; }
  .gallery_1__item:nth-of-type(7) {
    min-width: 100%;
    width: 100%; }
  .gallery_1__item {
    min-width: 33%;
    width: 33%; }
  .headerLogo {
    margin: 0; }
  .headerTagline {
    max-width: 100%;
    width: 100%; } }

@media screen and (max-width: 1074px) {
  .headerBox {
    max-width: 218px;
    width: 218px; }
  .header__block:nth-child(1) .headerBox:nth-child(2) {
    max-width: calc(100% - 218px);
    width: calc(100% - 218px); } }

@media screen and (max-width: 1061px) {
  .dd__table tr:first-child td:first-child, .dd__header td:first-child, .dd__footer td:first-child {
    width: 554px; } }

@media screen and (max-width: 1024px) {
  .footerMenu li {
    margin: 0 0 20px; }
  .footer, .feedback, .boxReview, .boxWork, .boxSupport {
    padding: 37px 15px; }
  .boxResult {
    padding: 37px 15px 67px; }
  .sectionContexAdv_2 .boxContexAdv,
  .sectionContexAdv_3 .boxContexAdv,
  .sectionContexAdv_1 .boxContexAdv,
  .sectionContexAdv_4 .boxContexAdv,
  .sectionContexAdv_5 .boxContexAdv {
    padding: 37px 15px; }
  .infographics__group {
    padding: 0 30px 0 0; }
  .boxShowcase {
    padding: 25px 15px 40px; }
  .preProduct__caption {
    font-size: 1.8rem; }
  .gallery_4_showcase .gallery_4__item:nth-child(1) .preProduct__caption,
  .gallery_4_showcase .gallery_4__item:nth-child(2) .preProduct__caption {
    height: 52px;
    margin: 0 0 7px; }
  .newPrice {
    font-size: 2rem; }
  .gallery_4_showcase .gallery_4__item:nth-child(1) .preProduct__price,
  .gallery_4_showcase .gallery_4__item:nth-child(2) .preProduct__price {
    margin: 7px 0 0; }
  .boxPortfolio {
    padding: 26px 15px 80px; }
  .sectionContexAdv_6 .boxContexAdv {
    padding: 37px 15px 0; }
  .typeContent {
    margin: 0 0 15px; }
  .sectionAdvantages_1 .boxAdvantages {
    padding: 30px 15px 30px; }
  .sectionAdvantages_1 {
    background: #f1f6f5; }
  .sectionAdvantages_2 .boxAdvantages {
    padding: 38px  15px 17px; }
  .sectionAdvantages_3 .boxAdvantages {
    padding: 36px  15px 34px; }
  .sectionAdvantages_4 .boxAdvantages {
    padding: 37px 15px 65px; }
  .boxDropDown {
    padding: 43px 15px 66px; }
  .sectionOptim_1 .boxOptim {
    padding: 30px 15px 29px; }
  .boxCorpSite {
    padding: 23px 15px 45px; }
  .wrapBoxWork__work {
    width: 100%; }
  .slider_1 {
    display: none; }
  .slider_1_mob {
    display: block; }
  .boxPortfolio_2 {
    padding: 51px 15px 70px; }
  .slick__btnPrev {
    left: 0; }
  .slick__btnNext {
    right: 0; }
  .sectionCorpSite_1 .typeContent__block img {
    float: none;
    margin: 0; }
  .sectionCorpSite_1 .typeContent__block {
    text-align: center; }
  .sectionCorpSite_2 .boxCorpSite {
    padding: 30px 15px 10px; }
  .boxSupport__img {
    display: none; }
  .wrapSetData_support .wrapData:nth-child(2), .wrapSetData_support .wrapData:nth-child(3) {
    max-width: 48%;
    width: 48%;
    margin: 0 0 10px; }
  .wrapSetData_support .wrapData:nth-child(1) {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
    flex: none;
    margin: 0 0 10px; }
  .boxSupportPage {
    padding: 28px 15px 44px; }
  .sectionBanner_1 {
    display: none; }
  .sectionBanner_2_1 {
    background: #c7d8e0; }
  .sectionBanner_2_2 {
    background: #ffdb4d; }
  .sectionBanner_2_3 {
    background: #01bf9a; }
  .banner_2__content {
    max-width: 100%; }
  .banner_2 {
    height: auto;
    padding: 70px 15px 30px; }
  .slider_2 .slick__btnPrev, .slider_2 .slick__btnNext {
    width: 40px;
    height: 40px;
    top: 20px;
    background-size: 40px; }
  .slider_2 .slick__btnPrev {
    left: 15px; }
  .slider_2 .slick__btnNext {
    right: 15px; }
  .sectionBanner_3_1 {
    background: #c7d8e0; }
  .sectionBanner_3_2 {
    background: #ffdb4d; }
  .sectionBanner_3_3 {
    background: #01bf9a; }
  .sectionBanner_3_4 {
    background: #8a2115; }
  .sectionBanner_3_5 {
    background: #7ad5ed; }
  .banner_3 {
    height: auto;
    padding: 30px 15px; }
  .banner_3__content {
    max-width: 100%; }
  .turnkeySolution__img {
    max-width: 100%;
    width: 100%;
    margin: 0 0 15px; }
  .boxSolutions {
    padding: 33px 15px 32px; }
  .turnkeySolution__info {
    max-width: 100%;
    width: 100%; }
  .turnkeySolution__ttl {
    display: inline-block; }
  .turnkeySolution__info__block:nth-child(1) {
    max-width: 100%;
    width: 100%;
    margin: 0 0 30px;
    text-align: center; }
  .turnkeySolution__desc {
    text-align: center; }
  .turnkeySolution__info__block:nth-child(2) {
    max-width: 100%;
    width: 100%;
    justify-content: space-around; }
  .tsInfoBlock {
    max-width: 300px;
    width: 300px;
    margin: 0 5px 30px; }
  .turnkeySolution__info__block:nth-child(3) {
    text-align: center; }
  .bestSolution__block:nth-child(1) {
    margin: 0 0 30px;
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
    flex: none; }
  .bestSolution__block:nth-child(1) img {
    margin: 0 auto;
    max-width: 269px;
    width: 100%; }
  .boxBestSolutions {
    padding: 33px 15px 32px; }
  .bestSolution__block:nth-child(2) {
    max-width: 100%;
    width: 100%; }
  .btnSecondMenu_mob {
    display: block;
    margin: 0 0 0 30px; }
  .header__block:nth-child(1) {
    padding: 22px 15px; }
  .header__block:nth-child(2) {
    display: none; }
  .header__block:nth-child(3) .headerBox {
    padding: 60px 15px 37px 15px; }
  .menuSecond__items {
    padding: 0; }
  .btnSecondMenu_close {
    top: 35px;
    left: calc(100% - 40px); }
  .sectionHeader {
    position: static; }
  .headerContacts {
    margin: 30px 0 0; }
  .footer__block:nth-child(3) {
    max-width: 200px;
    width: 200px;
    -webkit-box-flex: 0;
    flex: none;
    -webkit-box-pack: center;
    justify-content: center; }
  .footer__block:nth-child(2) {
    max-width: calc(100% - 547px);
    width: calc(100% - 547px); }
  .btnCall {
    margin: 25px auto 0;
    display: block; }
  .btnCall_header {
    margin: 0 0 0 23px; }
  .typicalPage {
    padding: 25px 15px 31px; }
  blockquote {
    padding: 32px 30px 32px 73px; }
  blockquote:before {
    width: 40px;
    height: 37px;
    left: 20px;
    background-size: cover; } }

@media screen and (max-width: 932px) {
  .headerPhone {
    display: none; }
  .btnCall_header {
    margin: 0; }
  .btnAuth {
    margin: 0 0 0 30px; } }

@media screen and (max-width: 908px) {
  .menuSecond__items {
    max-width: 100%;
    width: 100%;
    text-align: left; }
  .menuSecond__item {
    max-width: none;
    width: auto;
    -webkit-box-flex: 1;
    flex: 1 1 165px;
    margin: 0 5px 0; }
  .menuSecond__item_secondMenu {
    max-width: none;
    width: auto;
    -webkit-box-flex: 0;
    flex: none;
    margin: 0; }
  .headerContacts {
    padding: 29px 19px 32px;
    max-width: 100%;
    width: 100%;
    margin: 20px 0 0; }
  .wrapSocNet {
    margin: 0 auto; }
  .btnCall_cardContacts {
    margin: 25px 0 0; } }

@media screen and (max-width: 865px) {
  .dd__table tr:first-child td:first-child, .dd__header td:first-child, .dd__footer td:first-child {
    width: 300px; } }

@media screen and (max-width: 858px) {
  .gallery_1__sepr:nth-of-type(6) {
    display: block; }
  .gallery_1__sepr:nth-of-type(4) {
    display: none; }
  .gallery_1__item, .gallery_1__item:nth-of-type(7) {
    min-width: 50%;
    width: 50%; }
  .infographics__group {
    padding: 0;
    max-width: 100%;
    width: 100%;
    margin: 0 0 30px; }
  .infographics__group:last-of-type {
    margin: 0; }
  .boxIntShop {
    padding: 10px 15px 0; }
  .infographics__img {
    text-align: center; }
  .btnSecondMenu_close {
    top: 20px;
    left: calc(100% - 60px); } }

@media screen and (max-width: 768px) {
  .footer__block:first-child {
    -webkit-box-ordinal-group: 5;
    order: 4;
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
    flex: none;
    margin: 20px 0 0;
    padding: 0; }
  .footer__block:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center; }
  .footer__contact {
    text-align: center; }
  .btnCall {
    margin: 25px auto; }
  .feedback__content:before {
    display: none; }
  .gallery_3__sepr:nth-of-type(2) {
    display: none; }
  .gallery_3__item {
    min-width: 100%;
    width: 100%; }
  .gallery_3__item:nth-of-type(5) {
    min-width: 100%;
    width: 100%; }
  .gallery_3 .preGallery, .gallery_1_1 .preGallery, .gallery_1_3 .preGallery {
    max-width: 480px; }
  .boxSupport__subtitle {
    margin: 0 0 37px;
    padding: 0; }
  .infographics__group {
    display: block;
    text-align: center; }
  .infographics__img {
    margin: 0 auto; }
  .infographics__content {
    max-width: 100%;
    width: 100%; }
  .sectionContexAdv_3 h2 {
    text-align: center; }
  .gallery_4_showcase .gallery_4__item:nth-child(1), .gallery_4_showcase .gallery_4__item:nth-child(2) {
    max-width: calc(100% - 10px);
    width: calc(100% - 10px); }
  .gallery_4_showcase .gallery_4__item:nth-child(1) .preProduct, .gallery_4_showcase .gallery_4__item:nth-child(2) .preProduct {
    max-width: 553px;
    margin: 0 auto; }
  .gallery_4_showcase .gallery_4__item:nth-child(1) .preProduct__info, .gallery_4_showcase .gallery_4__item:nth-child(2) .preProduct__info {
    padding: 0 15px 15px; }
  .sectionContexAdv_6 .gallery_4__item {
    min-width: 100%;
    width: 100%; }
  .progress__title {
    font-size: 1.5rem; }
  .progress__indicator {
    font-size: 4rem; }
  .progress__img img {
    width: 80%; }
  .progress__img {
    margin: 0; }
  .typeContent__block {
    max-width: 100%;
    width: 100%; }
  .typeContent:nth-child(n + 2) .typeContent__block:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    order: 2; }
  .sectionAdvantages_3 .typeContent__block {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    column-gap: 0; }
  .form_support {
    background: #f1f6f5;
    padding: 15px; }
  .wrapSubmit_support .btnDefault {
    margin: 0 24px 15px 0;
    display: block; }
  .wrapPrvPolc {
    margin: 20px 0 0;
    padding: 22px 15px 22px 47px; }
  .wrapPrvPolc:before {
    top: 22px; }
  .btnCall_cardContacts {
    margin: 25px 0 0; }
  .footer__block:nth-child(2) {
    max-width: calc(100% - 200px);
    width: calc(100% - 200px);
    -webkit-box-pack: start;
    justify-content: flex-start; }
  .btnCall_header {
    margin: 0; } }

@media screen and (max-width: 706px) {
  .slider_1_mob .boxWork__work {
    width: 100%; }
  .slick__btnPrev,
  .slick__btnNext {
    top: calc(100% + 26px); }
  .slick__btnPrev {
    left: calc(50% - 43px); }
  .slick__btnNext {
    right: calc(50% - 43px); }
  .boxPortfolio_2 {
    padding: 51px 15px 106px; }
  .slider_1_mob {
    padding: 0; }
  .btnCall_header {
    display: none; }
  .btnAuth {
    margin: 0; } }

@media screen and (max-width: 650px) {
  .dd__table tr:first-child td:first-child, .dd__header td:first-child, .dd__footer td:first-child {
    width: 150px; } }

@media screen and (max-width: 672px) {
  .headerBox {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .header__block:nth-child(1) .headerBox:nth-child(2) {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 20px 0 0; } }

@media screen and (max-width: 596px) {
  .gallery_1__sepr, .gallery_1__sepr:nth-of-type(6) {
    display: none; }
  .gallery_1__item, .gallery_1__item:nth-of-type(7) {
    min-width: 100%;
    width: 100%; }
  .boxWork_1 .wrapBoxWork__work:nth-child(2) .boxWork__work:nth-child(1),
  .boxWork_1 .wrapBoxWork__work:nth-child(2) .boxWork__work:nth-child(2),
  .boxWork_2 .wrapBoxWork__work:nth-child(1) .boxWork__work:nth-child(1),
  .boxWork_2 .wrapBoxWork__work:nth-child(1) .boxWork__work:nth-child(2) {
    width: 100%; }
  .gallery_5__item {
    max-width: 50%;
    width: 50%; } }

@media screen and (max-width: 480px) {
  .footer__block:first-child {
    margin: 0 0 30px;
    -webkit-box-ordinal-group: 2;
    order: 1;
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
    flex: none;
    padding: 0; }
  .footer {
    -webkit-box-align: center;
    align-items: center; }
  .footer__block {
    max-width: 100%;
    width: 100%;
    margin: 0 0 30px;
    text-align: center;
    padding: 0; }
  .footer__block:nth-child(3) {
    max-width: 100%;
    width: 100%;
    margin: 0 0 30px; }
  .btnCall {
    margin: 30px auto; }
  .feedback, .feedback__desc {
    text-align: center; }
  .gallery_4_showcase .gallery_4__item:nth-child(1) .preProduct__caption,
  .gallery_4_showcase .gallery_4__item:nth-child(2) .preProduct__caption {
    height: 35px;
    font-size: 1.6rem;
    line-height: 1.1; }
  .gallery_4_showcase .gallery_4__item:nth-child(1) .preProduct__desc,
  .gallery_4_showcase .gallery_4__item:nth-child(2) .preProduct__desc {
    height: 30px;
    line-height: 1.1; }
  .menuSecond__item {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
    flex: none;
    margin: 0; }
  .menuSecond__item ul {
    margin: 0; }
  .menuSecond__item ul li {
    margin: 25px 0; }
  .menuSecond__item ul li:last-child {
    margin: 25px 0 0; }
  .menuSecond__item:not(.menuSecond__item_secondMenu) {
    margin: 0 0 25px; }
  .footer__block:nth-child(2) {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center; } }

@media screen and (max-width: 420px) {
  .gallery_2__item {
    max-width: 100%;
    width: 100%; } }

@media screen and (max-width: 400px) {
  .progress__img {
    display: none; }
  .progress__content {
    text-align: center; }
  .work__desc {
    display: none; }
  .slider_1_mob .work__ttl {
    font-size: 2rem; }
  .slider_1_mob {
    padding: 0; }
  .gallery_5__item {
    max-width: 100%;
    width: 100%; }
  .gallery_5 .preGallery {
    max-width: 100%; }
  .wrapSetData_support .wrapData:nth-child(2), .wrapSetData_support .wrapData:nth-child(3) {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
    flex: none;
    margin: 0 0 10px; }
  .tsInfoBlock {
    max-width: 100%;
    width: 100%;
    margin: 0 0 30px; }
  .gallery_4__item {
    max-width: 100%;
    width: 100%; }
  .auth_rmber .checkbox {
    float: none; }
  .auth_rmber .forgotPassword {
    float: none;
    display: block; }
  .auth_rmber {
    margin: 39px 0 20px; } }
